/* Form sayfasına özgü stiller */
.form-page .feedback-form {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 408px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto; /* Formu yatayda ortalar */
}

.form-page .feedback-form label {
  font-size: 14px;
}

.form-page .feedback-form input,
.form-page .feedback-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-page .feedback-form button {
  padding: 10px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-page .feedback-form button:hover {
  background-color: #3e63e0;
}
/* Back Link Container */
.back-link-container {
  margin-left: 40px; /* Soldan 40px boşluk */
  text-align: left; /* Butonu sola hizala */
}
